<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="showParagraph()">show/hide text</button>

            <p @showState *ngIf="isShown"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, labore veniam, reprehenderit voluptatibus quisquam asperiores iure repudiandae illum in architecto reiciendis nobis ullam aspernatur ea, minima officia ducimus fuga. Id.
            </p>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="shrikWidth = shrikWidth-50">Shrink Paragraph</button>
            <button class="btn btn-primary" (click)="animate = true">Animate Paragraph</button>

            <p [@animateState]="animate ? 'animated' : 'notanimated'" [ngStyle]="{'width.px': shrikWidth}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ullam fuga sequi consectetur quisquam quae eos minima laborum, dicta ab molestias, et dolore dolorem mollitia. Omnis, eaque ut at porro.</p>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary" (click)="onAddElement()">Add Element</button>
        <div @listState (@listState.start)="onAnimationStarted($event)" (@listState.done)="onAnimationDone($event)" *ngFor="let testResult of testResults" class="test-result">
            {{testResult}}
        </div>
    </div>
</div>